NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_WS_URL=ws://localhost:8000
NEXT_PUBLIC_ESCROW_CONTRACT_ADDRESS=0x
NEXT_PUBLIC_USDC_ADDRESS=0x
NEXT_PUBLIC_CHAIN_ID=2710
NEXT_PUBLIC_RPC_URL=https://hoodi-sandbox.morphl2.io
NEXT_PUBLIC_WALLET_PROJECT_ID=0dff13c66f9424befd5bfc7c23eb4c43
NEXT_PUBLIC_CLIENT_ID=
